.mainContainer{
    justify-content: center;
    display: flex;
    margin: 2rem;
 }

.boxes{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#box1{
    border: 2px solid black;
    height: 200px;
    padding: 0 .5rem .5rem .5rem;
    margin-bottom: 1rem;
}

#box2{
    border: 2px solid black;
    height: 200px;
    padding: 0 .5rem .5rem .5rem;
    margin-bottom: 1rem;
}

#box3{
  border: 2px solid black;
  height: 100px;
  padding: 0 .5rem .5rem .5rem;
  display: flex;
  justify-content: space-evenly;
}

#score{
  text-align: center;
  padding-bottom: 4px;
}

#lives{
  text-align: center;
  padding-bottom: 4px;
}

#gameContainer {
  position: relative;
  width: 600px;
  height: 600px;
  border: 1px solid #000;
}

#playerIcon {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: blue;
}

.pokemonIcon {
  position: absolute;
  width: 50px;
  height: 50px;
}

#pokemonInfoCard {
  position: fixed;
  top: 25%;
  left: 25%;
  display: none;
  background-color: rgb(149, 177, 255);
  border: 1px solid #a5a5a5;
  border-radius: 2rem;
  padding: 10px;
  width: 25vw;
  height: 50vh;
  justify-content: center;
  text-align: center;
}

#battleOptionsCard {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50vw;
  height: 50vh;
  display: none;
  background-color: rgb(179, 255, 179);
  border: 1px solid #a5a5a5;
  border-radius: 2rem;
  padding: 10px;
}

#gameOver {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50vw;
  height: 50vh;
  display: none;
  background-color: rgb(255, 152, 152);
  border: 1px solid #a5a5a5;
  border-radius: 2rem;
  padding: 10px;
  z-index: 100;
}

#pokemonSelectionModal {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #000;
    text-align: center;
    display: none;
    z-index: 100;
  }